
header{
    background-color:#28293e;
    text-align: center;
    padding-top: 20px;
 padding-bottom: 20px;
}
.blue-bg{
    background-color:#28293e;
    color: white;
}
body{
    margin: 0px;
    padding: 0px;

span{
    background-color:  blue;
}
div{
    background-color: yellow;
}
header  a{
    color: #fff;
    text-decoration: none;
    margin-left: 22px;
    margin-right: 22px;
}
header ul{
    list-style-type: none;
}
header li{
    display: inline;
}
section #profile{
    border-radius: 270px;
    width: 263px;
}